:host {
    background: white;
    box-shadow: 0 -130px 100vh rgb(0 0 0 / 40%);

    .header {
        &__hamburger {
            @include button($background-color: transparent, $color: var(--mobileMenuIconColor));
            margin: 0 12px 0 3px;
            &:hover {
                background-color: transparent !important;
            }
            img {
                filter: invert(1);
            }
        }
    }
}
