:host {
  .selling-price {
    font-family: var(--pdpPriceFont);
  }
  .quantity-selector {
    upscale-product-quantity-selector {
      align-items: center;
    }
  }
}

:host.in-edition {
  &.image-carousel-view {
    .title {
      font-family: var(--pdpTitleFont);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 2.76rem;
    }

    .actions {
      padding: 0 18px;
    }
  }
}
