.card {
  .buttons {
    .remove-button {
      border: none;
      color: var(--cartRemoveButtonColor);

      &:hover {
				background: none;
        color: var(--cartRemoveButtonHoverColor);
			}

      .button-label {
        font-size: 1.6rem;
				text-decoration: underline;
        padding: 0;
			}
    }
  }
}