:host {
  &.text-button {
    font-family: var(--buttonFont);
    background-color: var(--buttonPrimaryBackgroundColor);
    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: var(--iconCartWhite);
      margin-right: 5px;
    }
  }
}
