:host {
    display: inline-block;
    background-color: var(--imageBackgroundColor);

    .component-headline {
        @include font-size(26);
        line-height: 1.22;
        font-weight: 700;
    
        @media screen and (max-width: 56.25em) {
            @include font-size(24);
            line-height: 1.15;
        }
    }
}