@import url('https://dirkds.be/fonts/butler/style.css');

:host {
    ::ng-deep upscale-aspect-ratio {
        .headline {
            font-family: 'Butler Medium';
            font-size: 4.8rem;
            font-weight: normal;
            letter-spacing: 0.7rem;
            -webkit-text-stroke: 0.25px;
            color: var(--headlineColor);
            margin: 16px 0;
        }
        
        .text {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.84rem;
            &-center {
                text-align: center;
                margin: 16px 0;
            }
        }
    
        .mat-stroked-button {
            font-family: sans-serif;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 48px;
			padding: 0 20px;
            background-color: var(--buttonSecondaryBackgroundColor);
            border-color: var(--buttonSecondaryBorderColor);
            color: var(--buttonSecondaryColor);
            border-radius: 0;
            &::after {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url('https://dirkds.be/projects/van_marcke/document.svg') no-repeat 0 0 / 24px 24px transparent;
                transform: translate(5px, 7px);
				margin-right: 2px;
            }
        }
    }
}