:host {
    .headline {
        font-family: "var(--contentSlotCustomFont)";
        font-size: 4.8rem;
        font-weight: normal;
        letter-spacing: 0.7rem;
        -webkit-text-stroke: 0.25px;
        color: var(--headlineColor);
        margin: 16px 0;
    }

    ::ng-deep upscale-aspect-ratio {
        .text {
            font-family: var(--generalFont);
            line-height: 1.84rem;
            &-center {
                text-align: center;
                margin: 16px 0;
            }
        }

        .mat-stroked-button {
            font-family: var(--buttonFont);
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 48px;
            padding: 0 20px;
            background-color: var(--buttonSecondaryBackgroundColor);
            border-color: var(--buttonSecondaryBorderColor);
            color: var(--buttonSecondaryColor);
            border-radius: 0;
            &::after {
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                background: var(--iconDocument);
                transform: translate(5px, 7px);
                margin-right: 2px;
            }
        }
    }
}
